# =========================
# .NET / C#
# =========================
bin/
obj/
.vs/
*.user
*.suo
*.userprefs

# =========================
# Angular / Node
# =========================
dist/
out-tsc/
tmp/
coverage/
.angular/
node_modules/
package-lock.json
yarn.lock
*.tsbuildinfo

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

secrets/*
!secrets/.gitkeep

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# macOS
# =========================
.DS_Store